<div id="<%= dom_id piazza_activity_breakdown %>">
  <p>
    <strong>Enrollment:</strong>
    <%= piazza_activity_breakdown.enrollment_id %>
  </p>

  <p>
    <strong>Emails:</strong>
    <%= piazza_activity_breakdown.emails %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= piazza_activity_breakdown.role %>
  </p>

  <p>
    <strong>Groups:</strong>
    <%= piazza_activity_breakdown.groups %>
  </p>

  <p>
    <strong>Days online:</strong>
    <%= piazza_activity_breakdown.days_online %>
  </p>

  <p>
    <strong>Posts:</strong>
    <%= piazza_activity_breakdown.posts %>
  </p>

  <p>
    <strong>Edits to posts:</strong>
    <%= piazza_activity_breakdown.edits_to_posts %>
  </p>

  <p>
    <strong>Answers:</strong>
    <%= piazza_activity_breakdown.answers %>
  </p>

  <p>
    <strong>Edits to answers:</strong>
    <%= piazza_activity_breakdown.edits_to_answers %>
  </p>

  <p>
    <strong>Followups:</strong>
    <%= piazza_activity_breakdown.followups %>
  </p>

  <p>
    <strong>Replies to followups:</strong>
    <%= piazza_activity_breakdown.replies_to_followups %>
  </p>

  <p>
    <strong>Instructor good question:</strong>
    <%= piazza_activity_breakdown.instructor_good_question %>
  </p>

  <p>
    <strong>Instructor good answer:</strong>
    <%= piazza_activity_breakdown.instructor_good_answer %>
  </p>

  <p>
    <strong>Instructor good comment:</strong>
    <%= piazza_activity_breakdown.instructor_good_comment %>
  </p>

  <p>
    <strong>Student good question:</strong>
    <%= piazza_activity_breakdown.student_good_question %>
  </p>

  <p>
    <strong>Student thanks on answer:</strong>
    <%= piazza_activity_breakdown.student_thanks_on_answer %>
  </p>

  <p>
    <strong>Student helpful on followups:</strong>
    <%= piazza_activity_breakdown.student_helpful_on_followups %>
  </p>

  <p>
    <strong>Good question given:</strong>
    <%= piazza_activity_breakdown.good_question_given %>
  </p>

  <p>
    <strong>Thanks on answers given:</strong>
    <%= piazza_activity_breakdown.thanks_on_answers_given %>
  </p>

  <p>
    <strong>Helpful on followups given:</strong>
    <%= piazza_activity_breakdown.helpful_on_followups_given %>
  </p>

  <p>
    <strong>Post views:</strong>
    <%= piazza_activity_breakdown.post_views %>
  </p>

  <p>
    <strong>Live qa upvotes:</strong>
    <%= piazza_activity_breakdown.live_qa_upvotes %>
  </p>

  <p>
    <strong>Piazza activity download:</strong>
    <%= piazza_activity_breakdown.piazza_activity_download_id %>
  </p>

</div>
