<p style="color: green"><%= notice %></p>

<%= render @piazza_activity_breakdown %>

<div>
  <%= link_to "Edit this piazza activity breakdown", edit_piazza_activity_breakdown_path(@piazza_activity_breakdown) %> |
  <%= link_to "Back to piazza activity breakdowns", piazza_activity_breakdowns_path %>

  <%= button_to "Destroy this piazza activity breakdown", @piazza_activity_breakdown, method: :delete %>
</div>
