<div class="row my-2">
  <div class="col-md-6">
    <div class="card mb-2">
      <div class="card-header d-flex align-items-center">
        <h2 class="h6 mb-0 me-auto">Cohorts</h2>
        <% if policy(Cohort).create? %>
          <%= link_to new_cohort_path do %>
            <i class="fa-solid fa-plus fa-fw"></i>
          <% end %>
        <% end %>
      </div>
      <% if policy(:dashboard).cohorts? %>
        <div class="list-group list-group-flush">
          <% @cohorts.each do |cohort| %>
            <%= link_to cohort, class: "list-group-item" do %>
              <div class="d-flex">
                <div class="me-auto d-flex align-items-baseline">
                  <span class="badge bg-secondary font-monospace me-2">
                    <%= cohort.code %>
                  </span>
                  
                  <%= cohort.name %>
                </div>
    
                <div>
                  <i class="fa-solid fa-chevron-right fa-fw"></i>
                </div>
              </div>
              
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if policy(:dashboard).authored_impressions? %>
      <div class="card mb-2">
        <div class="card-header d-flex align-items-center">
          <h2 class="h6 mb-0 me-auto">Your Recently Authored Impressions</h2>
          <div>
            <%= link_to new_impression_path do %>
              <i class="fa-solid fa-plus fa-fw"></i>
            <% end %>
          </div>
        </div>
        <div class="list-group list-group-flush">
          <% @impressions.each do |impression| %>
            <%= link_to impression, class: "list-group-item" do %>
              <div class="d-flex">
                <div class="me-auto d-flex align-items-baseline">
                  <span class="badge bg-secondary font-monospace me-2">
                    <%= impression.emoji %>
                  </span>
                  
                  <%= impression.subject.user %>
                </div>
                <div>
                  <i class="fa-solid fa-chevron-right fa-fw"></i>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <% if policy(:dashboard).recent_articles? %>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h2 class="h6 mb-0 me-auto">Recent Articles</h2>
          <div>
            <%= link_to news_root_url do %>
              See More
            <% end %>
          </div>
        </div>
        <div class="list-group list-group-flush">
          <% @articles.each do |article| %>
            <%= link_to article.url, class: "list-group-item", target: "_blank" do %>
              <div class="d-flex align-items-center">
                <img class="news-avatar" src="<%= article.author.headshot %>">
                <div class="me-auto">
                  <h5><%= article.title %></h5>
                  <div>By <%= article.author %></div>
                  <small class="text-secondary">Published on <%= article.published_at.strftime("%Y-%m-%d") %></small>
                </div>
                <div>
                  <i class="fa-solid fa-chevron-right fa-fw"></i>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
