<div class="row my-2">
  <!-- Cohorts and Authored Impressions -->
  <div class="col-lg-4">
    <div class="card mb-2">
      <div class="card-header d-flex align-items-center">
        <h2 class="h6 mb-0 me-auto">Cohorts</h2>
        <% if policy(Cohort).create? %>
          <%= link_to new_cohort_path do %>
            <i class="fa-solid fa-plus fa-fw"></i>
          <% end %>
        <% end %>
      </div>
      <% if policy(:dashboard).cohorts? %>
        <div class="list-group list-group-flush">
          <% @cohorts.each do |cohort| %>
            <%= link_to cohort, class: "list-group-item" do %>
              <div class="d-flex">
                <div class="me-auto d-flex align-items-baseline">
                  <span class="badge bg-secondary font-monospace me-2">
                    <%= cohort.code %>
                  </span>
                  <%= cohort.name %>
                </div>
                <div>
                  <i class="fa-solid fa-chevron-right fa-fw"></i>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if policy(:dashboard).authored_impressions? %>
      <div class="card mb-2">
        <div class="card-header d-flex align-items-center">
          <h2 class="h6 mb-0 me-auto">Your Recently Authored Impressions</h2>
          <div>
            <%= link_to new_impression_path do %>
              <i class="fa-solid fa-plus fa-fw"></i>
            <% end %>
          </div>
        </div>
        <div class="list-group list-group-flush">
          <% @impressions.each do |impression| %>
            <%= link_to impression, class: "list-group-item" do %>
              <div class="d-flex">
                <div class="me-auto d-flex align-items-baseline">
                  <span class="badge bg-secondary font-monospace me-2">
                    <%= impression.emoji %>
                  </span>
                  <%= impression.subject.user %>
                </div>
                <div>
                  <i class="fa-solid fa-chevron-right fa-fw"></i>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Recent Articles -->
  <div class="col-lg-4">
    <% if policy(:dashboard).recent_articles? %>
      <div class="card mb-2">
        <div class="card-header d-flex align-items-center">
          <h2 class="h6 mb-0 me-auto">Recent Articles</h2>
          <div>
            <%= link_to news_root_url do %>
              See More
            <% end %>
          </div>
        </div>
        <div class="list-group list-group-flush">
          <% @articles.each do |article| %>
            <%= link_to article.url_with_utm, class: "list-group-item", target: "_blank" do %>
              <div class="row align-items-center">
                <div class="col-3 col-sm-2">
                  <img class="img-thumbnail rounded-circle" src="<%= article.social_image %>">
                </div>
                <div class="col-8 col-sm-9 col-xxl-9">
                  <h5><%= article.title %></h5>
                  <div>By <%= article.author %></div>
                  <small class="text-secondary">Published on <%= article.published_at.strftime("%Y-%m-%d") %></small>
                </div>
                <div class="col-1">
                  <i class="fa-solid fa-chevron-right fa-fw"></i>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Recent Placements -->
  <div class="col-lg-4">
    <% if policy(:dashboard).placements? %>
      <div class="card mb-2">
        <div class="card-header d-flex align-items-center">
          <h2 class="h6 mb-0 me-auto">Recent Placements</h2>
          <div>
            <%= link_to outcomes_root_url do %> <!-- Do you want this to link to outcomes.dpi.dev or dashboard#placements#index? -->
              See More
            <% end %>
          </div>
        </div>
        <div class="list-group list-group-flush">
          <% @placements.each do |placement| %>
            <%= link_to placement, class: "list-group-item" do %>
              <div class="row align-items-center">
                <div class="col-3 col-sm-2">
                  <img class="img-thumbnail rounded-circle" src="<%= placement.user.headshot %>">
                </div>
                <div class="col-8 col-sm-9 col-xxl-9">
                  <h5><%= placement.job_description.title %> - <%= placement.company.name %></h5>
                  <div><%= placement.user %></div>
                </div>
                <div class="col-1">
                  <i class="fa-solid fa-chevron-right fa-fw"></i>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>