<div class="col-md-6">
  <div class="card <%= bs_border_class %> text-bg-light mb-3">
    <div class="card-header <%= bs_text_class %> fw-bold fs-5"> <%= card_header %>
    </div>
    <div class="card-body">
      <div id="emoji-buttons" class="d-flex flex-wrap">
        <% emoji_buttons.each do |emoji, description| %>
          <button type="button" class="emoji-btn" data-emoji="<%= emoji %>" data-action="click->emoji-input#addEmoji">
            <%= emoji %>
            <%= description %>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
