<div class="<%=bs_col_size%>">
  <div class="card <%= bs_border_class %> text-bg-light mb-3">
    <div class="card-header <%= bs_text_class %> fw-bold fs-5"><%= card_header %></div>
    <div class="card-body">
      <div id="emoji-buttons" class="d-flex flex-wrap">
        <% emojis.each do |emoji| %>

          <button type="button" class="emoji-btn"
                  data-emoji="<%= emoji %>"
                  data-action="click->emoji-input#addEmoji"
                  title="<%= Impression::EMOJIS[emoji][:category].titleize %>">
            <%= emoji %>
            <%= Impression::EMOJIS[emoji][:description].titleize %>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
