<div id="<%= dom_id impression %>">
  <p>
    <strong>Author:</strong>
    <%= impression.author %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= impression.subject %>
  </p>

  <p>
    <strong>Emoji:</strong>
    <%= impression.emoji %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= impression.content %>
  </p>

</div>
