<div id="<%= dom_id impression %>" class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="me-auto mb-0 h6">
        <%= impression.summary %>
        <% if impression.staff_only? %>
          <i class="fa-solid fa-lock text-secondary" data-controller="tooltip" data-bs-toggle="tooltip" title="This impression is viewable only by staff members" role="button"></i>
        <% end %>
      </h1>
      <% if policy(impression).edit? %>
        <%= link_to edit_impression_path(@impression), class: "me-2" do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
      <% end %>
      <% if policy(impression).destroy? %>
        <%= button_to @impression, data: { "turbo-method": :delete, "turbo-confirm": "Are you sure you want to delete this impression?" }, class: "btn btn-link" do %>
          <i class="fa-solid fa-trash text-danger"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="card-body">
    <p><%= impression.content %></p>
  </div>

  <div class="card-footer">
    <%= time_ago_in_words(impression.created_at) %> ago
  </div>

</div>
