<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dpi-primary">
  <div class="container-fluid">
    <span class="text-light me-auto">MEET THE DPI APPRENTICES</span>
    <%= image_tag 'logo', height: "40px" %>
  </div>
</nav>

<div class="container-fluid">
  <div class="row my-2">
    <div class="col-4">
      <% if @enrollment.user.headshot.present? %>
        <%= image_tag(@enrollment.user.headshot.url, class: "border-5 border-dpi-primary img-fluid") %>
      <% end %>
    </div>
    <div class="col-5">
      <h1 class="text-dpi-primary"><%= @enrollment.user.first_name %></h1>
      <p class="text-dpi-primary"><%= @enrollment.user.one_liner %></p>
      <% if @enrollment.user.skills_and_projects.present? %>
        <h5 class="text-dpi-secondary">Skills and Projects:</h5>
        <ul class="text-dpi-primary">
          <% @enrollment.user.skills_and_projects.split(",").sample(6).each do |strength| %>
            <li><%= strength %></li>
          <% end %>
        </ul>
      <% end %>
      <% if @enrollment.skills_development.present? %>
        <h5 class="text-dpi-secondary">Real-Time DPI Skill Development:</h5>
        <ul class="text-dpi-primary">
          <% @enrollment.skills_development.split(",").sample(6).each do |skill| %>
            <li><%= skill %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="col-3">
      <div class="border-5 border-dpi-secondary bg-light">
      <%# TODO: limit to n chars %>
        <p class="my-5 mx-2 fs-6 text-dpi-primary fw-bold">"<%= @enrollment.user.quote.slice(0, 250) %>"</p>
      </div>
      <div class="mt-2">
        <h5 class="text-dpi-secondary">DPI Endorsements</h5>
        <ul class="px-0 list-unstyled text-dpi-primary">
          <li>Career Readiness: <span class="fw-bold lead text-<%= rating_class(@enrollment.career_rating)%>"><%= @enrollment.career_rating.upcase %></span></li>
          <li>Communication: <span class="fw-bold lead text-<%= rating_class(@enrollment.communication_rating)%>"><%= @enrollment.communication_rating.upcase %></span></li>
          <li>Technical: <span class="fw-bold lead text-<%= rating_class(@enrollment.technical_rating)%>"><%= @enrollment.technical_rating.upcase %></span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mx-2 mt-2">
    <hr class="border-dpi-primary border-2 opacity-100" />
    <div class="col-4 border-top-0 border-start-0 border-bottom-0 border-dpi-primary border-3 opacity-100">
      <h5 class="text-dpi-secondary">Career Highlights</h5>
      <% if @enrollment.user.career_highlights.present? %>
        <ul class="px-0 list-unstyled text-dpi-primary">
          <% @enrollment.user.career_highlights.split(",").sample(3).each do |highlight| %>
            <li><%= highlight %></li>
          <% end %>
        </ul>
      <% else %>
        <p class="text-dpi-primary"><%= @enrollment.user.most_recent_role %></p>
      <% end %>
    </div>
    <div class="col-4 border-top-0 border-start-0 border-bottom-0 border-dpi-primary border-3 opacity-100">
      <h5 class="text-dpi-secondary">Education</h5>
      <ul class="px-0 list-unstyled text-dpi-primary">
        <% @enrollment.user.education.split(",").sample(3).each do |education| %>
          <li><%= education %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-4">
      <h5 class="text-dpi-secondary">Fun Fact</h5>
      <p class="text-dpi-primary"><%= @enrollment.user.fun_fact %></p>
    </div>
  </div>
</div>
