<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dpi-primary">
  <div class="container-fluid">
    <span class="text-light me-auto">MEET THE DPI APPRENTICES</span>
    <%= image_tag 'logo', height: "40px" %>
  </div>
</nav>

<div class="container-fluid">
  <div class="row my-2">
    <div class="col-4">
      <%= image_tag(@enrollment.user.headshot.url, class: "border-5 border-dpi-primary img-fluid") unless @enrollment.user.headshot.nil? %>
    </div>
    <div class="col-5">
      <h1><%= @enrollment.user.first_name %></h1>
      <p><%= @enrollment.user.one_liner %></p>
      <% if @enrollment.user.skills_and_projects.present? %>
        <h5 class="text-dpi-secondary">Skills and Projects:</h5>
        <ul>
          <% @enrollment.user.skills_and_projects.split(",").sample(3).each do |strength| %>
            <li><%= strength %></li>
          <% end %>
        </ul>
      <% end %>
      <% if @enrollment.skills_development.present? %>
        <h5 class="text-dpi-secondary">Real-Time DPI Skill Development:</h5>
        <ul>
          <% @enrollment.skills_development.split(",").sample(3).each do |skill| %>
            <li><%= skill %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="col-3">
      <div class="border-5 border-dpi-secondary bg-light">
        <p class="my-5 mx-2 fs-6">"<%= @enrollment.user.quote %>"</p>
      </div>
    </div>
  </div>
  <div class="row mx-2 mt-2">
    <hr />
    <div class="col-4 border-end">
      <h5 class="text-dpi-secondary">Most recent role</h5>
      <p><%= @enrollment.user.most_recent_role %></p>
    </div>
    <div class="col-4 border-end">
      <h5 class="text-dpi-secondary">Education</h5>
      <p><%= @enrollment.user.education %></p>
    </div>
    <div class="col-4 border-end">
      <h5 class="text-dpi-secondary">Fun fact</h5>
      <p><%= @enrollment.user.fun_fact %></p>
    </div>
  </div>
</div>
