<div id="<%= dom_id cohort %>">
  <p>
    <strong>Name:</strong>
    <%= cohort.name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= cohort.year %>
  </p>

  <p>
    <strong>Generation:</strong>
    <%= cohort.generation %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= cohort.number %>
  </p>

  <p>
    <strong>Piazza course number:</strong>
    <%= cohort.piazza_course_number %>
  </p>

</div>
