<ul class="nav nav-tabs mb-3">
  <% if policy(@cohort).show? %>
    <li class="nav-item">
      <%= simple_active_link_to "Overview", @cohort, class: "nav-link", active: :exclusive %>
    </li>
  <% end %>
  <% if policy(@cohort).cohort_enrollments? %>
    <li class="nav-item">
      <%= simple_active_link_to "Enrollments", cohort_enrollments_path(@cohort), class: "nav-link" %>
    </li>
  <% end %>
  <% if policy(@cohort).cohort_canvas_gradebook_snapshots? %>
    <li class="nav-item">
      <%= simple_active_link_to "Canvas", cohort_canvas_gradebook_snapshots_path(@cohort), class: "nav-link" %>
    </li>
  <% end %>
  <% if policy(@cohort).cohort_piazza_activity_reports? %>
    <li class="nav-item">
      <%= simple_active_link_to "Piazza", cohort_piazza_activity_reports_path(@cohort), class: "nav-link" %>
    </li>
  <% end %>
  <% if policy(@cohort).cohort_impressions? %>
    <li class="nav-item">
      <%= simple_active_link_to "Attendance", cohort_attendances_path(@cohort), class: "nav-link" %>
    </li>
  <% end %>
  <% if policy(@cohort).discord? %>
    <li class="nav-item">
      <%= simple_active_link_to "Discord", cohort_discord_channels_path(@cohort), class: "nav-link" %>
    </li>
  <% end %>
  <% if policy(@cohort).cohort_impressions? %>
    <li class="nav-item">
      <%= simple_active_link_to "Impressions", cohort_impressions_path(@cohort), class: "nav-link" %>
    </li>
  <% end %>
</ul>
