<ul class="nav nav-tabs mb-3">
  <% if policy(@cohort).show? %>
    <li class="nav-item">
      <%= simple_active_link_to "Overview", @cohort, class: "nav-link", active: :exclusive %>
    </li>
  <% end %>
  <% if policy(@cohort).cohort_enrollments? %>
    <li class="nav-item">
      <%= simple_active_link_to "Enrollments", enrollments_path(cohort_id: @cohort.id), class: "nav-link" %>
    </li>
  <% end %>
  <% if policy(@cohort).cohort_canvas_gradebook_snapshots? %>
    <li class="nav-item">
      <%= simple_active_link_to "Canvas", canvas_gradebook_snapshots_path(cohort_id: @cohort.id), class: "nav-link" %>
    </li>
  <% end %>
  <% if policy(@cohort).cohort_piazza_activity_reports? %>
    <li class="nav-item">
      <%= simple_active_link_to "Piazza", piazza_activity_reports_path(cohort_id: @cohort.id), class: "nav-link" %>
    </li>
  <% end %>
  <%# TODO: start tracking attendance %>
  <%# <li class="nav-item">
    <a class="nav-link">Attendance</a>
  </li> %>
  <% if policy(@cohort).cohort_impressions? %>
    <li class="nav-item">
      <%= simple_active_link_to "Impressions", impressions_path(cohort_id: @cohort.id), class: "nav-link" %>
    </li>
  <% end %>
</ul>
