<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h1 class="h6 mb-0 me-auto">Cohorts</h1>

        <div>
          <%= link_to new_cohort_path do %>
            <i class="fa-solid fa-plus fa-fw"></i>
          <% end %>
        </div>
      </div>

      <div class="list-group list-group-flush">
        <% @cohorts.each do |cohort| %>
          <% if policy(cohort).show? %>
            <%= link_to cohort, class: "list-group-item" do %>
              <div class="d-flex">
                <div class="me-auto d-flex align-items-baseline">
                  <span class="badge bg-secondary font-monospace me-2">
                    <%= cohort.code %>
                  </span>
                  
                  <%= cohort.name %>
                </div>
    
                <div>
                  <i class="fa-solid fa-chevron-right fa-fw"></i>
                </div>
              </div> 
            <% end %>
          <% else %>
            <div class="list-group-item">
              <div class="d-flex">
                <div class="me-auto d-flex align-items-baseline">
                  <span class="badge bg-secondary font-monospace me-2">
                    <%= cohort.code %>
                  </span>          
                  <%= cohort.name %> 
                </div>
                <div>
                  ⛔
                </div>
              </div> 
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
