<%= render "cohorts/tabs" %>

<div class="row mb-3">
  <div class="col-lg-12 mb-3">
    <div class="d-flex align-items-center">
      <h1 class="me-auto"><%= @cohort.name %></h1>
      <%= link_to "Back to cohorts", cohorts_path, class: "btn btn-outline-secondary me-2" %>
      <% if policy(@cohort).edit? %>
        <%= link_to "Edit this cohort", edit_cohort_path(@cohort), class: "btn btn-outline-secondary me-2" %>
      <% end %>

      <% if policy(@cohort).destroy? %>
        <%= link_to "Delete this cohort", @cohort, data: { "turbo-method": :delete, "turbo-confirm": "Are you sure? This is NOT reversible" }, class: "btn btn-outline-secondary" %>
      <% end %>
    </div>
    <div class="d-flex">
      <%= @cohort.started_on.strftime("%B %Y") %>
    </div>
  </div>
</div>

<% if policy(@cohort).canvas_highest_position_submission_count? %>
  <div class="row mb-3">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header" role="button" data-bs-toggle="collapse" href="#highestPositionSubmissionCollapse" aria-expanded="false" aria-controls="highestPositionSubmissionCollapse">
          <h5 class="mb-0">Canvas: Highest Position Submission Count</h5>
        </div>
        <div id="highestPositionSubmissionCollapse" class="collapse">
          <div class="card-body">
            <%= column_chart canvas_highest_position_submission_count_cohort_path(@cohort) %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if policy(@cohort).canvas_point_total_most_recent? %>
  <div class="row mb-3">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header" role="button" data-bs-toggle="collapse" href="#totalPointsCollapse" aria-expanded="false" aria-controls="totalPointsCollapse">
          <h5 class="mb-0">Canvas: Total Points (most recent snapshot)</h5>
        </div>
        <div id="totalPointsCollapse" class="collapse">
          <div class="card-body">
            <%= column_chart canvas_point_total_most_recent_cohort_path(@cohort) %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- The "most recent submission by user" query on Blazer allows for sorting table columns -->
<% if @most_recent_submission_by_student.any? %>
  <div class="row mb-3">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header" role="button" data-bs-toggle="collapse" href="#mostRecentSubmissionCollapse" aria-expanded="false" aria-controls="mostRecentSubmissionCollapse">
          <h5 class="mb-0">
            Most Recent Submission by User
          </h5>
        </div>
        <div id="mostRecentSubmissionCollapse" class="collapse">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-lg-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Highest Assignment Name</th>
                      <th>Highest Assignment Position</th>
                      <th>Points</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @most_recent_submission_by_student.each do |submission| %>
                      <tr>
                        <td><%= submission.name %></td>
                        <td><%= submission.highest_assignment_name %></td>
                        <td><%= submission.highest_assignment_position %></td>
                        <td><%= submission.points %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if policy(@cohort).inactive_enrollments? %>
  <div class="row mb-3">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header" role="button" data-bs-toggle="collapse" href="#inactiveEnrollmentsCollapse" aria-expanded="false" aria-controls="inactiveEnrollmentsCollapse">
          <h5 class="mb-0">Students with no submissions in last 4 weeks</h5>
        </div>
        <div id="inactiveEnrollmentsCollapse" class="collapse">
          <div class="card-body">
            <div class="row my-2">
              <div class="col-md-6">
                <ul>
                  <% @inactive_enrollments.each_with_index do |enrollment, index| %>
                    <% if index.even? %>
                      <li><%= enrollment.full_name %></li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
              <div class="col-md-6">
                <ul>
                  <% @inactive_enrollments.each_with_index do |enrollment, index| %>
                    <% if index.odd? %>
                      <li><%= enrollment.full_name %></li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
