<div class="row">
  <div class="offset-md-3 col-md-6">
    <%= render @cohort %>

    <div>
      <%= link_to "Edit this cohort", edit_cohort_path(@cohort) %> |
      <%= link_to "Back to cohorts", cohorts_path %>
    
      <%= button_to "Destroy this cohort", @cohort, method: :delete %>
    </div>
    
    <hr>
    
    <%= render "piazza_activity_downloads/form", piazza_activity_download: @cohort.piazza_activity_downloads.build %>
  </div>
</div>
