<div class="card">
  <div class="card-header d-flex align-items-center">
    <div class="h6 mb-0 me-auto"><%= "#{@placement.user} - #{@placement.job_description.title}" %></div>
  </div>
  <div class="list-group list-group-flush ps-3 mt-3 mb-3">
    <div class="row align-items-center">
      <div><img src="<%= @placement.user.headshot %>"></div>
      <div class="col-8 col-sm-9 col-xxl-10">
        <h1><b><%= @placement.job_description.title %></b></h1>
      </div>
      <div>
        <h2><%= @placement.user %></h2>
      </div>
      <div>
        <a href="<%= @placement.company.website %>"><img src="<%= @placement.company.logo %>"><%= @placement.company.name %></a>
      </div>
      <div><b>Salary:</b></div>
      <div><%= number_to_currency(@placement.salary) %></div>
      <div><b>Role Category:</b></div>
      <div><%= @placement.job_description.role_category %></div>
      <div><b>Start Date:</b></div>
      <div><%= @placement.start_date %></div>
      <div><b>End Date:</b></div>
      <div><%= @placement.end_date %></div>
      <div><b>Job Description:</b></div>
      <div><%= @placement.job_description.description %></div>
    </div>
  </div>
</div>