<%= render "cohorts/tabs" %>

<% if @cohort.placements.any? %>
  <div class="row">
    <div class="col-lg-6">
      <%= turbo_frame_tag "placement_list" do %>
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <div class="h6 mb-0 me-auto">Placements</div>
            <% if policy(Placement).create? %>
              <%= link_to new_placement_path(@placement) do %>
                <i class="fa-solid fa-plus fa-fw"></i>
              <% end %>
            <% end %>
          </div>

        </div>
        <%= render "cohort/placements/placement_list" %>
      <% end %>
    </div>

    <div class="col-lg-6">
      <%= turbo_frame_tag "placement_details" do %>
        <% if @placement %>
          <%= render "cohort/placements/placement", placement: @placement %>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <h1>No placements for this cohort yet!</h1>
<% end %>
