<% if @placements.any? %>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <div class="h6 mb-0 me-auto">Placements</div>
          <% if policy(Placement).create? %>
            <%= link_to new_placement_path do %>
              <i class="fa-solid fa-plus fa-fw"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <%= turbo_frame_tag "placement_list" do %>
        <%= render "placements/placement_list", placements: @placements %>
        <div class="d-flex justify-content-center mt-3">
          <%= paginate @placements, theme: 'bootstrap-5', nav_class: "d-flex my-2", pagination_class: "flex-wrap",
                         params: { turbo_frame: "placement_list" } %>
        </div>
      <% end %>
    </div>

    <div class="col-lg-6">
      <%= turbo_frame_tag "placement" do %>
        <% if @placement %>
          <%= render "placements/placement", placement: @placement %>
        <% end %>
      <% end %>
      <div class="col-md-6">
        <% if policy(@placements).new? %>
          <%= link_to "Create new placement", new_placement_path, class: "btn btn-outline-secondary me-2" %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <h1>No placements for DPI yet!</h1>
<% end %>