<nav class="navbar navbar-expand-lg bg-light mb-3">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-chart-line"></i>

      WE Dashboard
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if Rails.env.development? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Debug
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/piazza_activity_breakdowns" class="dropdown-item">
                  Piazza Activity Breakdowns
                </a>
              </li>
              <li>
                <a href="/piazza_activity_reports" class="dropdown-item">
                  Piazza Activity Reports
                </a>
              </li>
              <li>
                <a href="/enrollments" class="dropdown-item">
                  Enrollments
                </a>
              </li>
              <li>
                <a href="/cohorts" class="dropdown-item">
                  Cohorts
                </a>
              </li>
            </ul>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        <% end %>
      </ul>

      <ul class="navbar-nav">
        <% if current_user.blank? %>
          <li class="nav-item">
            <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
          </li>
        <% else %>
          <% if current_user.has_role? :admin %>
            <li class="nav-item">
              <%= link_to "Admin", rails_admin_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sidekiq", sidekiq_web_path, class: "nav-link" %>
            </li>
          <% end %> 
          <% if [:admin, :instructor].any? { |role| current_user.has_role?(role) } %>
             <li class="nav-item">
               <%= link_to "Blazer", blazer_path, class: "nav-link" %>
             </li>
          <% end %> 

          <li class="nav-item">
            <%= link_to "Edit profile", edit_user_registration_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Sign out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
