<%= render "navbar" %>
<div class="row my-2">
  <div class="col">
    <div class="card mb-2">
      <div class="card-header">
        <%= form_with url: news_root_path, method: :get, class: "d-flex align-items-center" do %>

          <div class="input-group mb-4 flex-grow-1 me-2">
            <%= text_field_tag :query, params[:query], placeholder: "Enter your search", class: "form-control" %>

            <select class="form-select" name="search_type">
              <option value="title_or_description_cont">Topic</option>
              <option value="author_first_name_or_author_last_name_cont">Author</option>
            </select>
          </div>

          <button class="btn btn-outline-primary me-2 d-flex align-items-center" type="submit" >
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>

          <%= link_to news_root_path, class: "btn btn-outline-secondary d-flex align-items-center" do %>
            <i class="fa-solid fa-xmark"></i>
          <% end %>

        <% end %>
      </div>

      <div class="list-group list-group-flush">
        <% @articles.each do |article| %>
          <%= link_to article.url_with_utm, class: "list-group-item", target: "_blank" do %>
            <div class="row align-items-center">
              <div class="col-3 col-sm-2 col-xxl-1">
                <img class="img-thumbnail rounded-circle" src="<%= article.social_image %>">
              </div>
              <div class="col-8 col-sm-9 col-xxl-10">
                <h5><%= article.title %></h5>
                <div>By <%= article.author %></div>
                <small class="text-secondary">Published on <%= article.published_at.strftime("%Y-%m-%d") %></small>
              </div>
              <div class="col-1">
                <i class="fa-solid fa-chevron-right fa-fw"></i>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= paginate @articles, theme: 'bootstrap-5', nav_class: "d-flex my-2", pagination_class: "flex-wrap" %>
  </div>
</div>
