<div data-controller="search-subject" data-search-subject-cohort-value = "<%= @cohort.id %>">
  <div data-search-subject-target="overlay" 
    data-action="touchstart->search-subject#toggleListVisibility click->search-subject#toggleListVisibility" 
    class="options-list-overlay">
  </div>
  <%= form_for [@cohort, impression] do |form| %>
    <% if impression.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(impression.errors.count, "error") %> prohibited this impression from being saved:</h2>
        <ul>
          <% impression.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%# TODO: add user photo  %>
    <div class="mb-3">
      <%= form.label :subject_id, class: "form-label" %>
      <%= form.hidden_field :subject_id, 
        value: @impression.subject_id.blank? ? "" : @impression.subject_id, 
        data: { search_subject_target: "hiddenField" } %>
      <input 
        type="search"  
        data-search-subject-target="inputField"
        data-action="input->search-subject#search click->search-subject#search" 
      class="form-control"
      value="<%= @impression.subject_id.blank? ? "" : Enrollment.find(@impression.subject_id).user.full_name %>">
      <div id="search" data-search-subject-target="optionsList" style="display: none" class="options-list"></div>
    </div>
    <div class="mb-3" data-controller="emoji-input">
      <%= form.label :emoji, class: "form-label" %>
      <%= form.text_field :emoji, class: "form-control", "aria-described-by": "emoji-help", "data-emoji-input-target": "textInput" %>
      <br/>
      <div class="row">
        <%= render 'impressions/emoji_button_card', card_header: 'Positive Impression', emojis: Impression::Emojiable.positive_emojis, bs_border_class: "border-success", bs_text_class: "text-success" %>
        <%= render 'impressions/emoji_button_card', card_header: 'Negative Impression', emojis: Impression::Emojiable.negative_emojis, bs_border_class: "border-danger", bs_text_class: "text-danger"  %>
      </div>
      <div class="mb-3">
        <%= form.label :content, class: "form-label" %>
        <%= form.text_area :content, class: "form-control", rows: "10", "aria-described-by": "content-help" %>
        <div id="content-help" class="form-text">
          This impression may be shared with the subject. Click here to keep it private.
          <%= form.check_box :staff_only, checked: false %>
        </div>
      </div>
      <div class="d-grid gap-2 mt-2">
        <%= form.submit class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
