<%= search_form_for @q, url: cohort_impressions_path(@cohort), method: :get do |f| %>
  <div class="mb-3">
    <%= f.label :subject_user_first_name_cont, class: "form-label" %>
    <%= f.search_field :subject_user_first_name_cont, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :subject_user_last_name_cont, class: "form-label" %>
    <%= f.search_field :subject_user_last_name_cont, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :content_cont, class: "form-label" %>
    <%= f.search_field :content_cont, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :time_period, "Filter by Time Period", class: "form-label" %>
    <%= f.select :by_time_period, options_for_select([['All Time', ''], ['Last Week', 'last_week'], ['Last Month', 'last_month']], params.dig(:q, :by_time_period)), {}, class: "form-control" %>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
