<%= search_form_for(q, url: cohort_impressions_path) do |f| %>
  <div class="row">
    <div class="mb-3 col-md-6">
      <%= f.label :subject_user_first_name_cont, class: "form-label" %>
      <%= f.search_field :subject_user_first_name_cont, class: "form-control" %>
    </div>
    <div class="mb-3 col-md-6">
      <%= f.label :subject_user_last_name_cont, class: "form-label" %>
      <%= f.search_field :subject_user_last_name_cont, class: "form-control" %>
    </div>
  </div>

  <div class="mb-3">
    <%= f.label :content_cont, class: "form-label" %>
    <%= f.search_field :content_cont, class: "form-control" %>
  </div>

  <%= f.submit class: "btn btn-primary" %>

  <%= link_to "Clear", cohort_impressions_path(@cohort), class: "btn btn-outline-secondary ms-2" %>
<% end %>
