<%= render "cohorts/tabs" %>
<%# TODO: make this a ransack sortable/searchable table with pagination %>
<div class="row">
  <div class="col">
    <div class="d-flex align-items-center flex-row-reverse mb-2">
      <% if policy(Impression).download_csv? %>
        <%= link_to "Download CSV", cohort_impressions_path(@cohort, format: :csv), class: 'btn btn-outline-secondary' %>
      <% end %>
    </div>
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h1 class="h6 mb-0 me-auto">Impressions</h1>

        <div>
          <%= link_to new_cohort_impression_path(@cohort) do %>
            <i class="fa-solid fa-plus fa-fw"></i>
          <% end %>
        </div>
      </div>

      <div class="list-group list-group-flush">
        <% @impressions.each do |impression| %>
          <%= link_to cohort_impression_path(@cohort, impression), class: "list-group-item" do %>
            <div class="d-flex">
              <div class="me-auto d-flex align-items-baseline">
                <span class="badge bg-secondary font-monospace me-2">
                  <%= impression.emoji %>
                </span>
                
                <%= impression.subject %>

                <span class="text-secondary ms-1">
                  from <%= impression.author %>
                </span>
              </div>
  
              <div>
                <i class="fa-solid fa-chevron-right fa-fw"></i>
              </div>
            </div>
            
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%= paginate @impressions, theme: 'bootstrap-5', nav_class: "d-flex my-2", pagination_class: "mx-auto" %>
</div>
