<%= render "cohorts/tabs" %>

<div class="row">
  <div class="col">
    <div class="mb-2"> 
      <%= render "search", q: @q %>
    </div>
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h1 class="h6 mb-0 me-auto">Impressions</h1>

        <div>
          <% if policy(Impression).download_csv? %>
            <%= link_to "Download CSV", cohort_impressions_path(@cohort, format: :csv, q: @ransack_params.to_h), class: 'btn btn-outline-secondary me-2' %>
          <% end %>
          <%= link_to new_cohort_impression_path(@cohort) do %>
            <i class="fa-solid fa-plus fa-fw"></i>
          <% end %>
        </div>
      </div>

      <%= render "list_group", cohort: @cohort, impressions: @impressions %>
    </div>
  </div>
  <%= paginate @impressions, theme: 'bootstrap-5', nav_class: "d-flex my-2", pagination_class: "mx-auto" %>
</div>
