<%= render "cohorts/tabs" %>

<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h1 class="h6 mb-0 me-auto">Students</h1>

         <% if policy(Enrollment).create? %>
          <%= link_to new_cohort_enrollment_path(@cohort) do %>
            <i class="fa-solid fa-plus fa-fw"></i>
          <% end %>
        <% end %>
      </div>

      <div class="list-group list-group-flush">
        <% @enrollments.student.default_order.each do |enrollment| %>
          <% if policy(enrollment).show? %>
            <%= link_to cohort_enrollment_path(@cohort, enrollment), class: "list-group-item" do %>
              <div class="d-flex">
                <div class="me-auto d-flex align-items-baseline font-monospace">
                  <%= enrollment.to_s %>
                </div>
    
                <div>
                  <i class="fa-solid fa-chevron-right fa-fw"></i>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="list-group-item">
              <div class="d-flex">
                <div class="me-auto d-flex align-items-baseline font-monospace">
                  <%= enrollment.to_s %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h1 class="h6 mb-0 me-auto">Other</h1>

       <% if policy(Enrollment).create? %>
          <%= link_to new_cohort_enrollment_path(@cohort) do %>
            <i class="fa-solid fa-plus fa-fw"></i>
          <% end %>
        <% end %>
      </div>

      <div class="list-group list-group-flush">
        <% @enrollments.not_student.default_order.each do |enrollment| %>
          <%= link_to cohort_enrollment_path(@cohort, enrollment), class: "list-group-item" do %>
            <div class="d-flex">
              <div class="me-auto d-flex align-items-center font-monospace gap-2">
                <%= enrollment.to_s %>

                <span class="badge bg-secondary"><%= enrollment.role %></span>
              </div>
  
              <div>
                <i class="fa-solid fa-chevron-right fa-fw"></i>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
