<p style="color: green"><%= notice %></p>

<%= render @enrollment %>

<div>
  <%= link_to "Edit this enrollment", edit_cohort_enrollment_path(@cohort, @enrollment) %> |
  <%= link_to "Back to enrollments", cohort_enrollments_path %>

  <%= button_to "Destroy this enrollment", cohort_enrollment_path(@cohort, @enrollment), method: :delete %>
</div>
