<%= form_with(model: piazza_activity_download) do |form| %>
  <% if piazza_activity_download.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(piazza_activity_download.errors.count, "error") %> prohibited this piazza_activity_download from being saved:</h2>

      <ul>
        <% piazza_activity_download.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :cohort_id, class: "form-control" %>

  <div class="mb-3">
    <%= form.label :activity_from, class: "form-label" %>
    <%= form.date_field :activity_from, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :activity_until, class: "form-label" %>
    <%= form.date_field :activity_until, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :csv_file, class: "form-label" %>
    <%= form.file_field :csv_file %>
  </div>

  <div>
    <%= form.submit class: "btn btn-outline-primary" %>
  </div>
<% end %>
