<div id="<%= dom_id enrollment %>", class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="me-auto mb-0 h6"><%= enrollment %></h1>
      <% if policy(enrollment).edit? %>
        <%= link_to edit_cohort_enrollment_path(@cohort, enrollment), class: "me-2" do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
      <% end %>
      <% if policy(enrollment).destroy? %>
        <%= button_to cohort_enrollment_path(@cohort, enrollment), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure? This is NOT reversible" }, method: :delete, class: "btn btn-link"  do %>
          <i class="fa-solid fa-trash text-danger"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <p>
      <strong>Role:</strong>
      <%= enrollment.role %>
    </p>
    <p>
      <strong>Impressions:</strong>
      <%= enrollment.impressions.count %>
    </p>
  </div>
</div>
