<%= form_with(model: @enrollment, url: [@cohort, @enrollment]) do |form| %>
  <% if @enrollment.errors.any? %>
    <div class="text-danger">
      <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>
      <ul>
        <% @enrollment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if policy(@enrollment).edit_role? %>
    <div class="mb-3">
      <%= form.label :role %>
      <%= form.collection_select :role, Enrollment.roles.keys, :to_s, :humanize, {}, class: "form-select" %>
    </div>
    <%= form.fields_for :user do |user| %>
      <%= user.hidden_field :id %>
      <div class="mb-3">
        <%= user.label :salesforce_id, "Salesforce ID", class: "form-label" %>
        <%= user.text_field :salesforce_id, value: @enrollment.salesforce_id %>
      </div>
      <div class="mb-3">
        <%= user.label :github_username, class: "form-label" %>
        <%= user.text_field :github_username, value: @enrollment.github_username %>
      </div>
      <div class="mb-3">
        <%= user.label :devto_username, class: "form-label" %>
        <%= user.text_field :devto_username, value: @enrollment.devto_username %>
      </div>
      <div class="mb-3">
        <%= user.label :discord_id, "Discord ID", class: "form-label" %>
        <%= user.text_field :discord_id, value: @enrollment.discord_id %>
      </div>
      <div class="mb-3">
        <%= user.label :discord_username, class: "form-label" %>
        <%= user.text_field :discord_username, value: @enrollment.discord_username %>
      </div>
    <% end %>
  <% end %>
  <% if @enrollment.new_record? %>
    <div data-controller="search-user">
      <div data-search-user-target="overlay" 
         data-action="touchstart->search-user#toggleListVisibility click->search-user#toggleListVisibility" 
        class="options-list-overlay">
      </div>
      <div class="mb-3">
        <%= form.label :user_id, class: "form-label" %>
        <%= form.hidden_field :user_id, 
        value: @enrollment.user_id.blank? ? "" : @enrollment.user_id, 
        data: { search_user_target: "hiddenField" } %>
        <input 
        type="search"  
        data-search-user-target="inputField"
        data-action="input->search-user#search_by_name click->search-user#search_by_name" 
        class="form-control"
        placeholder="Search for a user by name..."
        value="<%= @enrollment.user_id.present? ? User.find(@enrollment.user_id).full_name : "" %>">
        <div id="search_by_name" data-search-user-target="optionsList" style="display: none" class="options-list"></div>
      </div>
    </div>
  <% end %>
  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
