<%= render "cohorts/tabs" %>

<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h1 class="h6 mb-0 me-auto">Students</h1>
        <% if policy(Enrollment).create? %>
          <%= link_to new_cohort_enrollment_path(@cohort) do %>
            <i class="fa-solid fa-plus fa-fw"></i>
          <% end %>
        <% end %>
      </div>

      <div class="list-group list-group-flush">
        <% @enrollments.student.default_order.each do |enrollment| %>
          <li class="list-group-item">
            <div class="d-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#enrollment-<%= enrollment.id %>-links" aria-expanded="false" aria-controls="enrollment-<%= enrollment.id %>-links">
              <div class="me-auto d-flex align-items-baseline font-monospace">
                <%= enrollment.name %>
              </div>
              <div>
              <% if enrollment.github_username.present? %>
                <span class="badge bg-black text-bg-black ms-2" title="GitHub Connected">
                  <i class="fa-brands fa-github"></i>
                </span>
              <% else %>
                <span class="badge bg-danger text-bg-danger ms-2" title="GitHub Not Connected">
                  <i class="fa-brands fa-github"></i>
                </span>
              <% end %>
              <% if enrollment.devto_username.present? %>
                <span class="badge bg-black text-bg-black ms-2" title="Dev.to Connected">
                  <i class="fa-brands fa-dev"></i>
                </span>
              <% else %>
                <span class="badge bg-danger text-bg-danger ms-2" title="Dev.to Not Connected">
                  <i class="fa-brands fa-dev"></i>
                </span>
              <% end %>
              <% if enrollment.discord_id.present? || enrollment.discord_username.present? %>
                <span class="badge bg-black ms-2" title="Discord Connected">
                  <i class="fa-brands fa-discord"></i>
                </span>
              <% else %>
                <span class="badge bg-danger ms-2" title="Discord Not Connected">
                  <i class="fa-brands fa-discord"></i>
                </span>
              <% end %>
                <i class="fa-solid fa-chevron-right fa-fw"></i>
              </div>
            </div>
            <div class="collapse" id="enrollment-<%= enrollment.id %>-links">
              <ul class="list-unstyled my-2 ms-2">
                <% if policy(enrollment).overview? %>
                  <li>
                    <%= link_to "Overview", overview_cohort_enrollment_path(@cohort, enrollment), class: "text-black" %>
                  </li>
                <% end %>
                <% if policy(enrollment).snapshot? %>
                  <li>
                    <%= link_to "Snapshot", snapshot_cohort_enrollment_path(@cohort, enrollment), class: "text-black" %>
                  </li>
                <% end %>
                <% if policy(enrollment).show? %>
                  <li>
                    <%= link_to "Show", cohort_enrollment_path(@cohort, enrollment), class: "text-black" %>
                  </li>
                <% end %>
                <% if policy(enrollment).edit_role? %>
                  <li>
                    <%= link_to "Edit", edit_cohort_enrollment_path(@cohort, enrollment), class: "text-black" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </li>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h1 class="h6 mb-0 me-auto">Staff</h1>
        <% if policy(Enrollment).create? %>
          <%= link_to new_cohort_enrollment_path(@cohort) do %>
            <i class="fa-solid fa-plus fa-fw"></i>
          <% end %>
        <% end %>
      </div>

      <div class="list-group list-group-flush">
        <% @enrollments.not_student.default_order.each do |enrollment| %>
          <% if policy(enrollment).show? %>
            <%= link_to cohort_enrollment_path(@cohort, enrollment), class: "list-group-item" do %>
              <div class="d-flex">
                <div class="me-auto d-flex align-items-center font-monospace gap-2">
                  <%= enrollment.name %>
                  <span class="badge bg-secondary"><%= enrollment.role.humanize %></span>
                </div>
                <div>
                  <i class="fa-solid fa-chevron-right fa-fw"></i>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="list-group-item">
              <div class="d-flex">
                <div class="me-auto d-flex align-items-center font-monospace gap-2">
                  <%= enrollment.name %>
                  <span class="badge bg-secondary"><%= enrollment.role.humanize %></span>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
