<div id="profile" class="bg-dpi-primary py-5">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <% if @enrollment.github_username.present? %>
        <div class="col-8 col-lg-3 mb-4 d-flex align-items-center">
          <div class="profile-pic-container">
            <div class="profile-pic-wrapper">
              <% if @enrollment.user.headshot.present? %>
                <%= image_tag(@enrollment.user.headshot.url, class: "border border-5 rounded-circle") %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="col-lg-6 d-flex align-items-center">
        <div>
          <h1 class="display-1 text-white text-md-start text-center mb-3">
            <%= @enrollment %>
          </h1>

          <div class="row mb-4 text-white text-md-start text-center">
            <div class="col-md-6">
              <%= @cohort.started_on.strftime("%B %Y") %> Cohort
            </div>

            <div class="col-md-6 text-md-end text-center">
              <% if @enrollment.personal_website.present? %>
                <%= link_to @enrollment.personal_website, @enrollment.personal_website, class: "text-white" %>
              <% end %>
            </div>
          </div>

          <p class="lead text-white border-start border-3 ps-4 fst-italic">
            <%= @enrollment.quote %>
          </p>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center mt-5 text-white text-center">
      <% if @enrollment.most_recent_role.present? %>
        <div class="col-md-3">
          <h4 class="h6">
            Most recent role
          </h4>

          <p class="lead">
            <%= simple_format @enrollment.most_recent_role %>
          </p>
        </div>        
      <% end %>

      <% if @enrollment.education.present? %>
        <div class="col-md-3">
          <h4 class="h6">
            Education
          </h4>

          <p class="lead">
            <%= simple_format @enrollment.education %>
          </p>
        </div>
      <% end %>
  
      <% if @enrollment.strengths.present? %>
        <div class="col-md-3">
          <h4 class="h6">
            Strengths
          </h4>

          <p class="lead">
            <%= simple_format @enrollment.strengths %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% if policy(Enrollment).view_rating? %>
  <div class="container">
    <div id="tech-skills-rating" class="row d-flex justify-content-center my-5 text-center">
      <div class="col-md-3 d-flex mb-3">
        <div class="card flex-fill">
          <div class="card-body d-flex flex-column">
            <h4 class="h6 flex-grow-0 m-0 h-25">
              Impressions
            </h4>
            <div class="flex-grow-1 d-flex align-items-center justify-content-center">
              <div class="d-flex align-items-center">
                <p class="lead text-<%= rating_class(@enrollment.career_rating) %> m-0 me-3 display-4">
                  <%= Impression.positive_for_subject(@enrollment.user).count %>
                </p>
                <div class="vr mx-3"></div>
                <p class="lead text-danger m-0 ms-3 display-4">
                  <%= Impression.negative_for_subject(@enrollment.user).count %>
                </p>
              </div>
            </div>
            <%= render 'cohort/enrollments/impressions_modal', enrollment: @enrollment %>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#impressionsModal">
              View Impressions
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-3 d-flex mb-3">
        <div class="card flex-fill">
          <div class="card-body d-flex flex-column">
            <h4 class="h6 flex-grow-0 m-0 h-25">
              Communication skills rating
            </h4>

            <div class="flex-grow-1 d-flex align-items-center justify-content-center">
              <p class="lead text-<%= rating_class(@enrollment.communication_rating)%> m-0">
                <%= @enrollment.communication_rating.to_s.titlecase %>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 d-flex mb-3">
        <div class="card flex-fill">
          <div class="card-body d-flex flex-column">
            <h4 class="h6 flex-grow-0 m-0 h-25">
              Technical skills rating
            </h4>

            <div>
              
            </div>

            <div class="flex-grow-1 d-flex flex-column align-items-center gap-2 justify-content-center">
              <p class="lead text-<%= rating_class(@enrollment.technical_rating)%> m-0">
                <%= @enrollment.technical_rating.to_s.titlecase %>
              </p>

              <%= image_tag("/tech_velocities/#{@enrollment.github_username}.png", class: "img-fluid")%>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center my-5 text-center">
      <div class="col-md-3 d-flex mb-3">
        <div class="card flex-fill">
          <div class="card-body">
            <h4 class="h6 text-center">
              Emotional intelligence
            </h4>

            <p class="lead">
              <%= simple_format @enrollment.emotional_intelligence %>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 d-flex mb-3">
        <div class="card flex-fill">
          <div class="card-body">
            <h4 class="h6 text-center">
              Staff evaluation
            </h4>

            <p>
              <em>Strengths:</em>
              
              <%= simple_format @enrollment.staff_strengths %>
            </p>

            <p>            
              <em>Areas for growth:</em>

              <%= simple_format @enrollment.staff_areas_for_growth %>
            </p>
          </div>
        </div>
      </div>

      <div id="skills-developed" class="col-md-3 d-flex mb-3">
        <div class="card flex-fill">
          <div class="card-body">
            <h4 class="h6 text-center">
              Skills developed
            </h4>

            <% %i[html css ruby rails databases authentication javascript].each do |skill| %>
              <% if @enrollment.most_advanced_completed_project_for(skill).try(skill).to_i != 0 %>
                <div>
                  <span
                    data-bs-title="<%= @enrollment.most_advanced_completed_project_for(skill).try(:name) %>"
                    data-bs-toggle="tooltip"
                    data-controller="tooltip"
                  >
                    <%= I18n.t(skill, scope: :skills) %>:

                    <%= @enrollment.most_advanced_completed_project_for(skill).try(skill).to_i %>
                  </span>
                </div>      
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="career-readiness" class="bg-dpi-primary">
    <div class="container py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-9">
          <ul class="list-group">
            <li class="list-group-item">
              Career total: <%= @enrollment.career_total %>
            </li>
            <li class="list-group-item">
              Career summary: <%= @enrollment.career_summary %>
            </li>
            <li class="list-group-item">
              Career attendance: <%= @enrollment.career_attendance %>
            </li>
            <li class="list-group-item">
              Career punctuality: <%= @enrollment.career_punctuality %>
            </li>
            <li class="list-group-item">
              Career workplace appearance: <%= @enrollment.career_workplace_appearance %>
            </li>
            <li class="list-group-item">
              Career workplace culture: <%= @enrollment.career_workplace_culture %>
            </li>
            <li class="list-group-item">
              Career taking initiative: <%= @enrollment.career_taking_initiative %>
            </li>
            <li class="list-group-item">
              Career quality of work: <%= @enrollment.career_quality_of_work %>
            </li>
            <li class="list-group-item">
              Career networking: <%= @enrollment.career_networking %>
            </li>
            <li class="list-group-item">
              Career response to supervision: <%= @enrollment.career_response_to_supervision %>
            </li>
            <li class="list-group-item">
              Career teamwork: <%= @enrollment.career_teamwork %>
            </li>
            <li class="list-group-item">
              Career customer service: <%= @enrollment.career_customer_service %>
            </li>
            <li class="list-group-item">
              Career problem solving: <%= @enrollment.career_problem_solving %>
            </li>
            <li class="list-group-item">
              Career calendar management: <%= @enrollment.career_calendar_management %>
            </li>
            <li class="list-group-item">
              Career task management: <%= @enrollment.career_task_management %>
            </li>
            <li class="list-group-item">
              Communication total: <%= @enrollment.communication_total %>
            </li>
            <li class="list-group-item">
              Communication summary: <%= @enrollment.communication_summary %>
            </li>
            <li class="list-group-item">
              Communication nonverbal: <%= @enrollment.communication_nonverbal %>
            </li>
            <li class="list-group-item">
              Communication verbal: <%= @enrollment.communication_verbal %>
            </li>
            <li class="list-group-item">
              Communication written: <%= @enrollment.communication_written %>
            </li>
            <li class="list-group-item">
              Technical total: <%= @enrollment.technical_total %>
            </li>
            <li class="list-group-item">
              Technical project points: <%= @enrollment.technical_project_points %>
            </li>
            <li class="list-group-item">
              Technical good questions: <%= @enrollment.technical_good_questions %>
            </li>
            <li class="list-group-item">
              Emotional intelligence: <%= @enrollment.emotional_intelligence %>
            </li>
            <li class="list-group-item">
              Staff strengths: <%= @enrollment.staff_strengths %>
            </li>
            <li class="list-group-item">
              Staff areas for growth: <%= @enrollment.staff_areas_for_growth %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if @enrollment.user.devto_articles.empty? %>
  <p class="text-center">No recent Dev.to blog posts available.</p>
<% end %>

<% @enrollment.user.devto_articles.order(published_at: :desc).take(5).each do |article| %>
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title"><%= article.title %></h5>
      <p class="card-text"><%= truncate(article.description, length: 150) %></p>
      <%= link_to "Read More", article.url, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
