<div id="<%= dom_id rfp_idea_submission %>">
  <p>
    <strong>Contact name:</strong>
    <%= rfp_idea_submission.contact_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= rfp_idea_submission.email %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= rfp_idea_submission.title %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= rfp_idea_submission.details %>
  </p>

  <p>
    <strong>Supporting doc filename:</strong>
    <%= rfp_idea_submission.supporting_doc_filename %>
  </p>

</div>
