<%= render "navbar" %>
<div class="row my-2">
  <div class="col">
    <div class="card mb-2">
      <div class="card-header">
        <%= search_form_for(@q, url: outcomes_root_path, class: "row") do |f| %>
          <div class="form-floating col-4 mb-2">
            <%= f.text_field :job_description_title_cont, placeholder: "Enter a job title", class: "form-control" %>
            <%= f.label :job_description_title_cont, "Job Title", class: "ps-4" %>
          </div>

          <div class="form-floating col-4 mb-2">
            <%= f.text_field :user_first_name_or_user_last_name_cont, placeholder: "Enter a name", class: "form-control" %>
            <%= f.label :user_first_name_or_user_last_name_cont, "Name", class: "ps-4" %>
          </div>

          <div class="form-floating col-4 mb-2">
            <%= f.text_field :company_name_cont, placeholder: "Enter a company", class: "form-control" %>
            <%= f.label :company_name_cont, "Company name", class: "ps-4" %>
          </div>

          <div class="d-flex align-items-center">
            <%= f.submit :class => "btn btn-primary d-flex" %>
            <%= link_to "Clear filter", outcomes_root_path, class: "ms-2" %>
          </div>
        <% end %>
      </div>

      <%= turbo_frame_tag "placement_list" do %>
        <%= render "outcomes/placement_list", placements: @placements %>
        <div class="d-flex justify-content-center mt-3">
          <%= paginate @placements, theme: 'bootstrap-5', nav_class: "d-flex my-2", pagination_class: "flex-wrap",
                         params: { turbo_frame: "placement_list" } %>
        </div>
      <% end %>
    </div>
  </div>
</div>