<div id="<%= dom_id canvas_gradebook_snapshot %>">
  <p><%= canvas_gradebook_snapshot.cohort %>'s Canvas gradebook snapshot from <%= canvas_gradebook_snapshot %>.</p>
  
  <p>CSV filename <code><%= canvas_gradebook_snapshot.csv_filename %></code> uploaded by <%= canvas_gradebook_snapshot.user %> at <%= canvas_gradebook_snapshot.created_at %>.</p>
</div>
