<% canvas_assignments = @canvas_gradebook_snapshot.canvas_assignments.default_order %>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive text-nowrap">
      <table class="table table-bordered table-hover">
        <thead class="table-light">
          <tr>
            <th>User</th>
            <th>Role</th>
            <th>Salesforce ID</th>
            <% canvas_assignments.each do |canvas_assignment| %>
              <th><%= canvas_assignment.name %></th>
            <% end %>
          </tr>
          <tr>
            <th>Points Possible</th>
            <th></th>
            <th></th>
            <% canvas_assignments.each do |canvas_assignment| %>
              <th><%= canvas_assignment.points_possible %></th>
            <% end %>
          </tr>
        </thead>

        <tbody class="table-group-divider">  
          <% @canvas_gradebook_snapshot.enrollments.each do |enrollment| %>
            <% canvas_submissions = @canvas_gradebook_snapshot.canvas_submissions.where(enrollment:).index_by(&:canvas_assignment_id) %>
            <tr>
              <td><%= enrollment.user %></td>
              <td><%= enrollment.role %></td>
              <td><%= enrollment.user.salesforce_id %></td>
              <% canvas_assignments.map(&:id).each do |canvas_assignment_id| %>
                <td><%= canvas_submissions[canvas_assignment_id]&.points %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
