<%= render "cohorts/tabs" %>

<div class="row mb-3">
  <div class="col">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h1 class="h6 mb-0 me-auto">Canvas Gradebook Snapshots</h1>

        <div>
          <%= link_to new_cohort_canvas_gradebook_snapshot_path(@cohort) do %>
            <i class="fa-solid fa-plus fa-fw"></i>
          <% end %>
        </div>
      </div>

      <div class="list-group list-group-flush">
        <% @canvas_gradebook_snapshots.each do |canvas_gradebook_snapshot| %>
          <% if policy(canvas_gradebook_snapshot).show? %>
            <%= link_to cohort_canvas_gradebook_snapshot_path(@cohort, canvas_gradebook_snapshot), class: "list-group-item" do %>
              <div class="d-flex">
                <div class="me-auto d-flex align-items-baseline font-monospace">
                  <%= canvas_gradebook_snapshot.to_s %>
                </div>
    
                <div>
                  <i class="fa-solid fa-chevron-right fa-fw"></i>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class= "list-group-item">
              <div class="d-flex">
                <div class="me-auto d-flex align-items-baseline font-monospace">
                  <%= canvas_gradebook_snapshot.to_s %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if policy(@cohort).canvas_highest_position_submission_count? %>
  <div class="row mb-3">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h2 class="h6 mb-0">Canvas: Highest Position Submission Count</h2>
        </div>
        <div class="card-body">
          <% canvas_count_data = @cohort.canvas_assignments.group_by_highest_position_submission_count.map { |canvas_assignment| [canvas_assignment.name, canvas_assignment.student_count] } %>
          <%= column_chart canvas_count_data %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if policy(@cohort).canvas_point_total_most_recent? %>
  <div class="row mb-3">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h2 class="h6 mb-0">Canvas: Total Points (most recent snapshot)</h2>
        </div>
        <div class="card-body">
          <%# TODO: refactor to scope? %>
          <%= column_chart  @cohort
                            .enrollments
                            .joins(:user, canvas_submissions: { canvas_gradebook_snapshot: :user })
                            .where('canvas_gradebook_snapshots.created_at = (SELECT MAX(created_at) FROM canvas_gradebook_snapshots)')
                            .group('users.id', 'users.first_name', 'users.last_name')
                            .order('SUM(canvas_submissions.points) DESC')
                            .pluck('users.first_name', 'users.last_name', 'SUM(canvas_submissions.points)')
                            .map { |first_name, last_name, point_total| ["#{first_name} #{last_name}", point_total] }
          %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if policy(@cohort).canvas_cumulative_points? %>
  <div class="row mb-3">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h2 class="h6 mb-0">Canvas: Total Points (cumulative)</h2>
        </div>
        <div class="card-body">
          <%# TODO: refactor to scope? %>
          <%= column_chart  @cohort
                            .enrollments
                            .joins(:user, :canvas_submissions)
                            .group('enrollments.id', 'users.first_name', 'users.last_name')
                            .order('SUM(canvas_submissions.points) DESC')
                            .pluck('users.first_name', 'users.last_name', 'SUM(canvas_submissions.points)')
                            .map { |first_name, last_name, point_total| ["#{first_name} #{last_name}", point_total]}
          %>
        </div>
      </div>
    </div>
  </div>
<% end %>