<div id="<%= dom_id piazza_activity_report %>">
  <p><%= piazza_activity_report.cohort %>'s Piazza activity from <%= piazza_activity_report %>.</p>
  
  <p>CSV filename <code><%= piazza_activity_report.csv_filename %></code> uploaded by <%= piazza_activity_report.user %> at <%= piazza_activity_report.created_at %>.</p>
</div>
