<div id="<%= dom_id piazza_activity_report %>">
  <p>
    <strong>Cohort:</strong>
    
    <%= piazza_activity_report.cohort %>
  </p>

  <p>
    <strong>Activity from:</strong>
    <%= piazza_activity_report.activity_from %>
  </p>

  <p>
    <strong>Activity until:</strong>
    <%= piazza_activity_report.activity_until %>
  </p>

  <p>
    <strong>CSV filename</strong>
    
    <%= piazza_activity_report.csv_filename %>
  </p>

</div>
