<div id="<%= dom_id attendance %>">
  <p>
    <strong>Title:</strong>
    <%= attendance.title %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= attendance.category %>
  </p>

  <p>
    <strong>Roll taker:</strong>
    <%= attendance.roll_taker_id %>
  </p>

  <p>
    <strong>Cohort:</strong>
    <%= attendance.cohort_id %>
  </p>

</div>
