<%= form_with(model: attendance) do |form| %>
  <% if attendance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_area :title %>
  </div>

  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.text_field :category %>
  </div>

  <div>
    <%= form.label :roll_taker_id, style: "display: block" %>
    <%= form.number_field :roll_taker_id %>
  </div>

  <div>
    <%= form.label :cohort_id, style: "display: block" %>
    <%= form.number_field :cohort_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
