<%= render "cohorts/tabs" %>

<p style="color: green"><%= notice %></p>

  <div id="attendances">
    <% @attendances.each do |attendance| %>
      <%= render attendance %>
      <p>
        <%= link_to "Show this attendance", cohort_attendance_path(@cohort, attendance) %>
      </p>
    <% end %>
  </div>

  <%= paginate @attendances, theme: 'bootstrap-5', nav_class: "d-flex my-2", pagination_class: "flex-wrap" %>
</div>

<%= link_to "New attendance", new_cohort_attendance_path(@cohort) %>
