<p style="color: green"><%= notice %></p>

<%= render @attendance %>

<div>
  <%= link_to "Edit this attendance", edit_cohort_attendance_path(@cohort, @attendance) %> |
  <%= link_to "Back to attendances", cohort_attendances_path(@cohort) %>

  <%= button_to "Destroy this attendance", cohort_attendance_path(@cohort, @attendance), method: :delete %>
</div>
